body {
	background-image: url("../Images/RPG_Background.jpg");
}
/********************
	Start Page
********************/


#startText {
	width: 325px;
	font-size: 60px;
	margin-top: 420px;
	margin-left: 460px;
	cursor: pointer;
}

@media screen and (max-width: 480px){
	#startText{
		width: auto;
		font-size: 20px;
	}
	body {
		width
	}
}

#startText:hover{
	color: red;
}


.standardButton{
	width:	100px;
	height: 40px;
	margin; 0 auto;
	font-size: 20px;
}

/*******************
Character Select Page
********************/

.charSelect {
	width: 1100px;
	height: 650px;
	border: 0px solid black;
	margin: 0 auto;
	display: none;
	background: rgba(0, 0, 0, 0.8);
	position: block;
	text-align: center;
	/*transition: 0.5 ;*/
	color:	white;
	/*transform: rotateX(90deg);*/
}

.charImage {
	width: 100%;
	margin-top: 20px;
	height: 200px;
}

.charText {
	width: 100%;
	margin-top: 60px;
	height: 200px;
	background: rgba(0, 0, 0, 0.7);
}


#warriorDiv{
	width: 300px;
	height: 500px;
	border: 1px solid transparent;
	float: left;
	margin: 15px;
	margin-top: 20px;
}

#warriorDiv:hover{
	border: 1px solid red;
}

#dwarfDiv{
	width: 300px;
	height: 500px;
	border: 1px solid transparent;
	float: left;
	margin: 15px;
	margin-top: 20px;
	margin-left: 65px;
}
#dwarfDiv:hover{
	border: 1px solid red;
}

#rogueDiv{
	width: 300px;
	height: 500px;
	border: 1px solid transparent;
	float: left;
	margin: 15px;
	margin-top: 20px;
	margin-left: 65px;
}

#rogueDiv:hover{
	border: 1px solid red;
}

#warriorImage {
	background-image: url("../Images/warrior.jpg");
	background-size: cover;
	height: 200px;
}

#rogueImage {
	background-image: url("../Images/rogue.jpg");
	background-size: cover;
}

#dwarfImage {
	background-image: url("../Images/dwarf.jpg");
	background-size: cover;
}




/*******************
  Story So Far Page
********************/

.storyPage{
	width: 1100px;
	height: 650px;
	border: 0px solid black;
	margin: 0 auto;
	display: none;
	background: rgba(0, 0, 0, 0.8);
	position: block;
	text-align: center;
	/*transition: 0.5 ;*/
	color:	white;
	/*transform: rotateX(90deg);*/
}

.storyText{
	width: 600px;
	height: 500px;
	margin-top: 15px;
	margin-left: 250px;
	margin-bottom: 15px;
	border: 1px solid white;
	font-size: 20px;
}

.tutPage{
	width: 600px;
	height: 500px;
	margin-top: 15px;
	margin-left: 250px;
	margin-bottom: 15px;
	border: 1px solid white;
	font-size: 20px;
	display: none;
}

.keyImage{
	margin: 0 auto;
	margin-top: 200px;
	border: 1px solid white;
	height: 200px;
	width: 200px;
  background-image: url("../firstProjectV1/images/Keys.jpg");
  background-size: cover;
}

#tutText {
	display: none;
}

#begin {
	display: none;
}

.active {
	border: 1px solid yellow !important;
}

/*******************
  	 Game Page
********************/
/*
.battleScreen {
	width: 1100px;
	height: 650px;
	z-index: 2;
	margin: 0 auto;
	margin-left: 100px
	top: 100px;
	display: none;
	background: rgba(0, 0, 0, 0.8);
	position: relative;
}

.playerImage {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: example;

    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
/*@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {background-color:tomato; left:600px; top:400px;}
    50%  {background-color:indianred; left:600px; top:0px;}
    75%  {background-color:dodgerblue; left:0px; top:400px;}
    100% {left:0px; top:0px;}
}*/

/* Standard syntax */
/*@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}*/
