body {
	background-image: url("http://thekoalition.com/images/2013/12/witcher-3-background.jpg");
}
/********************
	Start Page
********************/

.name{
	font-size: 100px;
	margin: 0 auto;
	margin-top: 300px;
	margin-left: 320px;
}

#startText {
	width: 320px;
	font-size: 60px;
	margin-top: 40px;
	margin-left: 460px;
	cursor: pointer;
}

@media screen and (max-width: 480px){
	#startText{
		width: auto;
		font-size: 20px;
	}
}

#startText:hover{
	color: red;
}

/********************
 Story and Char Page
********************/

.storyCharPage{
	width: 1100px;
	height: 650px;
	border: 0px solid black;
	margin: 0 auto;
	display: none;
	background: rgba(0, 0, 0, 0.8);
	position: block;
	text-align: center;
	transition: 0.5 ;
	color:	white;
	font-size: 10px;
}

.textContainer{
	width: 600px;
	height: 550px;
	margin-top: 15px;
	margin-left: 250px;
	margin-bottom: 15px;
	border: 1px solid white;
	font-size: 20px;
}

.standardButton{
	width:	110px;
	height: 60px;
	margin: 0 auto;
	font-size: 20px;
}

#begin {
	display: none;
	margin: 0 auto;
}
/********************
   Tutorial Page
********************/

.tutPage{
	width: 600px;
	height: 600px;
	margin: 0 auto;
	border: 1px solid white;
	font-size: 20px;
	display: none;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding-left: 10px;
}

.keyImage{
	margin: 0 auto;
	margin-top: 100px;
	border: 1px solid white;
	height: 200px;
	width: 200px;
	background-image: url("../images/Keys.jpg");
	background-size: cover;
}
.tutText{
	display: none;
}


/********************
      Game Page
********************/

.battleScreen {
	width: 1100px;
	height: 650px;
	z-index: 2;
	margin: 0 auto; 
	margin-left: 100px
	top: 100px;
	display: none;
	background: rgba(0, 0, 0, 0.8);
	position: relative;
}

.playerImage {
    width: 300px;
    height: 200px;
    margin-top: 450px;
    margin: 0 auto;
    background-image: url("../images/Barry.jpg");
    background-size: cover;
    -webkit-animation-name: example; 
    
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-iteration-count: infinite;
}

